/**
 * @name Chroma Folders
 * @author ryugenn#3571
 * @version 1.0
 * @description Makes the color of all server folders **chroma.**
 * @website https://github.com/ryugenn/DiscordAddons
 * @invite wu8XyU4W9H
 * @authorId 556120718669119499
*/

@keyframes chroma-bg-color {
    0% {background-color: red;}
    10% {background-color: orangered;}
    20% {background-color: orange;}
    30% {background-color: yellow;}
    40% {background-color: yellowgreen;}
    50% {background-color: turquoise;}
    75% {background-color: blue;}
    90% {background-color: rgb(147, 4, 248);}
    100% {background-color: rgb(255, 0, 55);}
}

.wrapper-1Rf91z .wrapper-21YSNc .folder-21wGz3, .wrapper-1Rf91z .wrapper-21YSNc .folderIconWrapper-226oVY {
    animation: chroma-bg-color 7s ease-in-out infinite;
}
